.card__button-like{
    margin: 0;
    padding: 0;
    width: 22px;
    height: 19px;
    border: none;
    align-self: center;
    background-image: url(../../../images/card__vector.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
}

.card__button-like:hover {
    cursor: pointer;
    opacity: 0.5;
}

.card__button-like:active {
    cursor: pointer;
    background-image: url(../../../images/elements__vectro_active.svg);
}

.card__button-like_active {
    cursor: pointer;
    background-image: url(../../../images/elements__vectro_active.svg);
}