.camera {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #000000;
  display: grid;
  grid-template-areas: "blockName foto" "title foto" "link foto" "feedback1 feedback2" "name1 name2" "mail1 mail2";
}
@media (max-width: 1440px) {
  .camera {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
.camera__blockName {
  margin: 50px 0 50px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  grid-area: blockName;
  color: #FFFFFF;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .camera__blockName {
    margin: 40px auto 40px 44px;
  }
}
.camera__title {
  margin: 0 81px 359px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 122px;
  line-height: 122.4px;
  max-width: 617px;
  grid-area: title;
  color: #FFFFFF;
}
@media (max-width: 1440px) {
  .camera__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
}
.camera__text {
  margin: 0 0 180px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  grid-area: link;
  max-width: 400px;
  text-transform: uppercase;
}
@media (max-width: 1440px) {
  .camera__text {
    margin: 40px auto 40px 44px;
    margin-bottom: 180px;
    margin-top: 0;
  }
}
.camera__foto {
  margin: 50px 50px 50px 0;
  padding: 0;
  grid-area: foto;
}
@media (max-width: 1440px) {
  .camera__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
}
.camera__feedbackText {
  margin: 0 0 60px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 43px;
  line-height: 43.2px;
  color: #FFFFFF;
}
.camera__feedbackText_1 {
  margin: 0 172px 60px 50px;
  padding: 0;
  max-width: 526px;
  grid-area: feedback1;
}
@media (max-width: 1440px) {
  .camera__feedbackText_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: 526px;
    margin-left: 40px;
  }
}
.camera__feedbackText_2 {
  margin: 0 auto 60px 0;
  padding: 0;
  max-width: 497px;
  grid-area: feedback2;
}
@media (max-width: 1440px) {
  .camera__feedbackText_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: 526px;
    margin-left: 40px;
  }
}
.camera__feedbackName {
  margin: 0 0 10px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.camera__feedbackName_1 {
  grid-area: name1;
}
@media (max-width: 1440px) {
  .camera__feedbackName_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    margin-bottom: 10px;
  }
}
.camera__feedbackName_2 {
  margin-left: 0;
  grid-area: name2;
}
@media (max-width: 1440px) {
  .camera__feedbackName_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    margin-bottom: 10px;
  }
}
.camera__feedbackMail {
  margin: 0 0 50px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.camera__feedbackMail_1 {
  grid-area: mail1;
}
@media (max-width: 1440px) {
  .camera__feedbackMail_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: none;
    width: calc(100% - 80px);
    padding-bottom: 60px;
    border-bottom: 1px solid #ffffff;
  }
}
.camera__feedbackMail_2 {
  grid-area: mail2;
  margin-left: 0;
}
@media (max-width: 1440px) {
  .camera__feedbackMail_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
}/*# sourceMappingURL=camera.css.map */