.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #CE5A57;
  min-height: 84px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header__list {
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header__links {
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
  color: #FFFFFF;
}
.header__link {
  font-family: "Roboto_regular";
  font-size: 16px;
  line-height: 100%;
}
.header__link:hover {
  font-family: "Roboto_bold";
  font-size: 16px;
  line-height: 100%;
}
.header__link:last-of-type {
  margin-right: 50px;
}
.header__logoButtonLink {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.header__logoButton {
  width: 40px;
  -webkit-animation: rotation 3s linear infinite;
          animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.header__logoButton:hover {
  cursor: pointer;
}
.header__buttonBurgerMenu {
  display: none;
  width: 32px;
  height: 20px;
  margin: 0 40px 0 0;
  padding: 0;
}
.header__buttonBurgerMenu:hover {
  cursor: pointer;
  opacity: 70%;
}
.header__closeIcon {
  margin: 0 34.41px 0 0;
  padding: 0;
  display: none;
  width: 32px;
  height: 32px;
}
.header__closeIcon:hover {
  cursor: pointer;
  opacity: 70%;
}

@media (max-width: 1440px) {
  .header__list {
    display: none;
    margin: 0 auto 0 40px;
    padding: 0;
  }
  .header__logoButtonLink {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .header__buttonBurgerMenu {
    display: block;
    margin: 0 20px 0 0;
    padding: 0;
  }
  .header__logoButtonLink_open {
    display: none;
  }
  .header__closeIcon {
    margin: 0 20px 0 0;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .header {
    min-height: 74px;
  }
  .header_phoneSize {
    min-height: 179px;
  }
  .header__list_open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 0 auto;
    padding: 0;
    align-self: flex-end;
  }
  .header__logoButtonLink_open {
    display: block;
    align-self: flex-start;
    margin: 20px 0 0 20px;
    padding: 0;
  }
  .header__link {
    margin: 0 auto 12px auto;
    padding: 0;
  }
  .header__link:last-of-type {
    margin: 0 auto 26px auto;
    padding: 0;
  }
  .header__links {
    margin: 0;
    padding: 0;
  }
  .header__closeIcon_open {
    align-self: flex-start;
    margin: 20px 20px 0 0;
    padding: 0;
  }
}/*# sourceMappingURL=header.css.map */