@import "../../variables/variables.scss";
@import "../../mixins/mixins.scss";

.searchingOrders {
  @include MarginPadding($padding: 0 0 50px 0);
  width: 100%;
  background-color: $whiteColor;
  display: grid;
  grid-template-areas:
    "blockName text1"
    "title text1"
    "foto text1"
    "foto button";
  &__blockName {
    @include MarginPadding($margin: 50px 0 50px 54px);
    @include fontRegular(18px, 28px);
    grid-area: blockName;
    color: $blackColor;
    text-transform: uppercase;
  }
  &__title {
    @include MarginPadding($margin: 0 292px 106px 50px);
    @include fontRegular(64px, 64px);
    max-width: 549px;
    grid-area: title;
    color: $blackColor;
  }
  &__foto {
    @include MarginPadding($margin: 0 auto 0 50px);
    grid-area: foto;
  }
  &__text {
    @include MarginPadding($margin: 386px 50px 148px 0);
    @include fontRegular(18px, 28px);
    color: $blackColor;
    align-self: flex-end;
    justify-self: flex-end;
    grid-area: text1;
    max-width: 380px;
  }
  &__button {
    @include MarginPadding($margin: 0 202px 0 0);
    @include elementsNoStyles;
    @include fontRegular(18px);
    @include flex($justify: center, $alignItems: center);
    @include buttonDesctopStyle;
    grid-area: button;
    justify-self: flex-end;
  }
}

@media (max-width: 1440px) {
  .searchingOrders {
    @include tableSectionFlex;
    &__blockName {
      @include tabletBlockName;
    }
    &__title {
      @include tabletTitle;
    }
    &__text {
      @include tableText;
    }
    &__button {
      @include tabletButton;
    }
    &__foto {
      @include tabletFoto;
    }
  }
}

@media (max-width: 700px) {
  .searchingOrders {
    padding-top: 40px;
    max-width: 100%;
    &__blockName {
      @include phoneBlockName;
      border-top: black solid 1px;
    }
    &__title {
      @include phoneTitile;
      @include fontRegular($fontSize: 32px, $lineHeigth: 38px);
    }
    &__text {
      @include phoneText;
    }
    &__button {
      @include phoneButton;
    }
    &__foto {
      @include phoneFoto;
    }
  }
}
