@import "../fonts/font.css";
@import "../styles/modules/blocks/effects/effects_visible.css";
@import "../styles/modules/blocks/effects/effects_notVisible.css";
.page {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  max-width: 1440px;
  background-color: #FFFFFF;
}
@media (max-width: 1440px) {
  .page {
    max-width: 100%;
    align-items: stretch;
  }
}

.header {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  width: 100%;
  background-color: #CE5A57;
  min-height: 84px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.header__list {
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.header__links {
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  margin-right: 40px;
  color: #FFFFFF;
}
.header__link {
  font-family: "Roboto_regular";
  font-size: 16px;
  line-height: 100%;
}
.header__link:hover {
  font-family: "Roboto_bold";
  font-size: 16px;
  line-height: 100%;
}
.header__link:last-of-type {
  margin-right: 50px;
}
.header__logoButtonLink {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.header__logoButton {
  width: 40px;
  -webkit-animation: rotation 3s linear infinite;
          animation: rotation 3s linear infinite;
}
@-webkit-keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
.header__logoButton:hover {
  cursor: pointer;
}
.header__buttonBurgerMenu {
  display: none;
  width: 32px;
  height: 20px;
  margin: 0 40px 0 0;
  padding: 0;
}
.header__buttonBurgerMenu:hover {
  cursor: pointer;
  opacity: 70%;
}
.header__closeIcon {
  margin: 0 34.41px 0 0;
  padding: 0;
  display: none;
  width: 32px;
  height: 32px;
}
.header__closeIcon:hover {
  cursor: pointer;
  opacity: 70%;
}

@media (max-width: 1440px) {
  .header__list {
    display: none;
    margin: 0 auto 0 40px;
    padding: 0;
  }
  .header__logoButtonLink {
    margin: 0 0 0 20px;
    padding: 0;
  }
  .header__buttonBurgerMenu {
    display: block;
    margin: 0 20px 0 0;
    padding: 0;
  }
  .header__logoButtonLink_open {
    display: none;
  }
  .header__closeIcon {
    margin: 0 20px 0 0;
    padding: 0;
  }
}
@media (max-width: 700px) {
  .header {
    min-height: 74px;
  }
  .header_phoneSize {
    min-height: 179px;
  }
  .header__list_open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 0 auto 0 auto;
    padding: 0;
    align-self: flex-end;
  }
  .header__logoButtonLink_open {
    display: block;
    align-self: flex-start;
    margin: 20px 0 0 20px;
    padding: 0;
  }
  .header__link {
    margin: 0 auto 12px auto;
    padding: 0;
  }
  .header__link:last-of-type {
    margin: 0 auto 26px auto;
    padding: 0;
  }
  .header__links {
    margin: 0;
    padding: 0;
  }
  .header__closeIcon_open {
    align-self: flex-start;
    margin: 20px 20px 0 0;
    padding: 0;
  }
}
.fotoCourse {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas: "title foto" "text foto" "text2 foto" "button foto";
}
.fotoCourse__title {
  margin: 50px 0 40px 48px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 100px;
  line-height: 100%;
  line-height: 110px;
  grid-area: title;
  color: #000000;
  width: 70%;
}
.fotoCourse__text {
  margin: 0 0 20px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  line-height: 118%;
  grid-area: text;
  max-width: 469px;
}
.fotoCourse__text2 {
  margin: 0 0 134px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 20px;
  line-height: 100%;
  color: #000000;
  line-height: 118%;
  grid-area: text2;
  max-width: 469px;
}
.fotoCourse__button {
  margin: 0 0 50px 50px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 133%;
  grid-area: button;
  color: #000000;
  background-color: #FFFFFF;
  width: 228px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 24.5px;
  background-color: #CE5A57;
  color: #FFFFFF;
  border-radius: 2px solid #FFFFFF;
  grid-area: button;
}
.fotoCourse__button:hover {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
}
.fotoCourse__foto {
  margin: 50px 50px 50px 0;
  padding: 0;
  grid-area: foto;
  max-width: calc(100% - 50px);
}

@media (max-width: 1440px) {
  .fotoCourse {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .fotoCourse__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
  .fotoCourse__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .fotoCourse__text2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .fotoCourse__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
    justify-self: flex-start;
  }
  .fotoCourse__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
}
@media (max-width: 700px) {
  .fotoCourse__title {
    max-width: 282px;
    margin: 14px auto 60px 20px;
    font-size: 47px;
    line-height: 56px;
  }
  .fotoCourse__text {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
  }
  .fotoCourse__text2 {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
  }
  .fotoCourse__button {
    max-width: 100%;
    margin: 0 auto 80px 20px;
    margin-bottom: 20px;
  }
  .fotoCourse__foto {
    width: calc(100% - 40px);
    margin: 0 20px 60px 20px;
  }
}
.studyComposition {
  margin: 0;
  padding: 0 0 40px 0;
  max-width: 100%;
  background-color: #E1B16A;
  display: grid;
  grid-template-areas: "blockName foto" "title foto" "text_1 foto" "text_2 foto" "button foto" "rules rules";
}
.studyComposition__blockName {
  margin: 50px 0 50px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  grid-area: blockName;
  color: #000000;
  text-transform: uppercase;
}
.studyComposition__title {
  margin: 0 24px 100px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 55px;
  line-height: 60px;
  max-width: 650px;
  grid-area: title;
  color: #000000;
}
.studyComposition__text {
  margin: 0 0 20px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  grid-area: text_1;
  max-width: 400px;
}
.studyComposition__text_link {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
.studyComposition__text_2 {
  margin: 0 0 198px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  grid-area: text_2;
  max-width: 400px;
}
.studyComposition__button {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 133%;
  grid-area: button;
  color: #000000;
  background-color: #FFFFFF;
  width: 228px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 24.5px;
  grid-area: button;
}
.studyComposition__button:hover {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
}
.studyComposition__foto {
  margin: 50px 50px 0 0;
  padding: 0;
  grid-area: foto;
  max-width: calc(100% - 50px);
}
.studyComposition__rules {
  margin: 100px 54px 50px 54px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  align-content: center;
  grid-area: rules;
}
.studyComposition__compositionRule {
  margin: 0;
  padding: 0;
  width: 291px;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  cursor: none;
}

@media (max-width: 1440px) {
  .studyComposition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .studyComposition__blockName {
    margin: 40px auto 40px 44px;
  }
  .studyComposition__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
  .studyComposition__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .studyComposition__text_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .studyComposition__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
    justify-self: flex-start;
  }
  .studyComposition__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
  .studyComposition__rules {
    width: 100%;
    margin: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .studyComposition__compositionRule {
    width: calc(100% - 80px);
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: #000000 solid 1px;
  }
  .studyComposition__compositionRule:last-of-type {
    padding-bottom: 40px;
    border-bottom: none;
  }
}
@media (max-width: 700px) {
  .studyComposition {
    max-width: 100%;
  }
  .studyComposition__blockName {
    width: calc(100% - 40px);
    border-top: 1px solid #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 0 20px 30px 20px;
    padding: 20px 0 0 0;
    margin-top: 40px;
  }
  .studyComposition__title {
    max-width: 282px;
    margin: 14px auto 60px 20px;
    font-family: "Roboto_regular";
    font-size: 30px;
    line-height: 38px;
    max-width: calc(100% - 40px);
  }
  .studyComposition__text {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
  }
  .studyComposition__text_link {
    font-size: 14px;
    line-height: 18px;
  }
  .studyComposition__text_2 {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
  }
  .studyComposition__button {
    max-width: 100%;
    margin: 0 auto 80px 20px;
  }
  .studyComposition__foto {
    width: calc(100% - 40px);
    margin: 0 20px 60px 20px;
  }
  .studyComposition__rules {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    align-content: center;
  }
  .studyComposition__compositionRule {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
    margin: 14px 20px 0 20px;
    padding: 0 0 14px 0;
    width: calc(100% - 40px);
    border-bottom: #000000 solid 1px;
  }
  .studyComposition__compositionRule:last-of-type {
    padding-bottom: 20px;
    border-bottom: none;
  }
  .studyComposition__compositionRule:first-of-type {
    padding-top: 0;
  }
}
.camera {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #78A5A3;
  display: grid;
  grid-template-areas: "foto blockName" "foto title " "foto link" "feedback1 feedback2";
}
.camera__blockName {
  margin: 50px 0 50px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  grid-area: blockName;
  color: #FFFFFF;
  text-transform: uppercase;
}
.camera__title {
  margin: 0 81px 359px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 122px;
  line-height: 122.4px;
  max-width: 617px;
  grid-area: title;
  color: #FFFFFF;
}
.camera__text {
  margin: 0 0 180px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  grid-area: link;
  max-width: 400px;
  text-transform: uppercase;
}
.camera__foto {
  margin: 50px 0 50px 50px;
  padding: 0;
  grid-area: foto;
  max-width: calc(100% - 50px);
}
.camera__feedbackText {
  margin: 0 0 60px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 43px;
  line-height: 43.2px;
  color: #FFFFFF;
}
.camera__feedbackText_1 {
  margin: 0 172px 60px 50px;
  padding: 0;
  max-width: 526px;
  grid-area: feedback1;
}
.camera__feedbackText_2 {
  margin: 0 auto 60px 50px;
  padding: 0;
  max-width: 497px;
  grid-area: feedback2;
}
.camera__feedbackName {
  margin: 0 0 10px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}
.camera__feedbackName_1 {
  grid-area: name1;
}
.camera__feedbackName_2 {
  margin-left: 0;
  grid-area: name2;
}
.camera__feedbackMail {
  margin: 0 0 50px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}
.camera__feedbackMail_1 {
  grid-area: mail1;
}
.camera__feedbackMail_2 {
  grid-area: mail2;
  margin-left: 0;
}

@media (max-width: 1440px) {
  .camera {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .camera__blockName {
    margin: 40px auto 40px 44px;
  }
  .camera__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
  .camera__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .camera__feedbackText_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: 75%;
    margin-left: 40px;
  }
  .camera__feedbackText_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: 75%;
    margin-left: 40px;
  }
  .camera__feedbackName {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .camera__feedbackName_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    margin-bottom: 10px;
  }
  .camera__feedbackName_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    margin-bottom: 10px;
  }
  .camera__feedbackMail {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .camera__feedbackMail_1 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    max-width: none;
    width: calc(100% - 80px);
    padding-bottom: 60px;
    border-bottom: 1px solid #ffffff;
  }
  .camera__feedbackMail_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }
  .camera__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
    justify-self: flex-start;
  }
  .camera__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
}
@media (max-width: 700px) {
  .camera {
    padding-bottom: 40px;
    max-width: 100%;
  }
  .camera__blockName {
    width: calc(100% - 40px);
    border-top: 1px solid #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 0 20px 30px 20px;
    padding: 20px 0 0 0;
    margin-top: 40px;
    border-top: #ffffff 1px solid;
  }
  .camera__title {
    max-width: 282px;
    margin: 14px auto 60px 20px;
    max-width: 243px;
    font-size: 48px;
    line-height: 56.25px;
  }
  .camera__text {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
    margin-bottom: 60px;
  }
  .camera__feedbackText {
    margin: 0 0 30px 0;
    padding: 0;
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
    font-size: 24px;
    line-height: 26px;
  }
  .camera__feedbackName {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
    margin: 0 0 6px 0;
    padding: 0;
    line-height: 20px;
  }
  .camera__feedbackMail {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
    margin: 0 0 30px 0;
    padding: 0 0 30px 0;
    font-size: 14px;
    line-height: 12px;
    border-bottom: #ffffff 1px solid;
  }
  .camera__feedbackMail:last-of-type {
    margin: 0 0 20px 0;
    padding: 0;
    border-bottom: none;
  }
  .camera__button {
    max-width: 100%;
    margin: 0 auto 80px 20px;
  }
  .camera__foto {
    width: calc(100% - 40px);
    margin: 0 20px 60px 20px;
  }
}
.searchingOrders {
  margin: 0;
  padding: 0 0 50px 0;
  width: 100%;
  background-color: #FFFFFF;
  display: grid;
  grid-template-areas: "blockName text1" "title text1" "foto text1" "foto button";
}
.searchingOrders__blockName {
  margin: 50px 0 50px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  grid-area: blockName;
  color: #000000;
  text-transform: uppercase;
}
.searchingOrders__title {
  margin: 0 292px 106px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 64px;
  line-height: 64px;
  max-width: 549px;
  grid-area: title;
  color: #000000;
}
.searchingOrders__foto {
  margin: 0 auto 0 50px;
  padding: 0;
  grid-area: foto;
}
.searchingOrders__text {
  margin: 386px 50px 148px 0;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  align-self: flex-end;
  justify-self: flex-end;
  grid-area: text1;
  max-width: 380px;
}
.searchingOrders__button {
  margin: 0 202px 0 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 133%;
  grid-area: button;
  color: #000000;
  background-color: #FFFFFF;
  width: 228px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 24.5px;
  grid-area: button;
  justify-self: flex-end;
}
.searchingOrders__button:hover {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
}

@media (max-width: 1440px) {
  .searchingOrders {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .searchingOrders__blockName {
    margin: 40px auto 40px 44px;
  }
  .searchingOrders__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
  .searchingOrders__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .searchingOrders__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
    justify-self: flex-start;
  }
  .searchingOrders__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
}
@media (max-width: 700px) {
  .searchingOrders {
    padding-top: 40px;
    max-width: 100%;
  }
  .searchingOrders__blockName {
    width: calc(100% - 40px);
    border-top: 1px solid #000000;
    font-size: 14px;
    line-height: 20px;
    margin: 0 20px 30px 20px;
    padding: 20px 0 0 0;
    border-top: black solid 1px;
  }
  .searchingOrders__title {
    max-width: 282px;
    margin: 14px auto 60px 20px;
    font-family: "Roboto_regular";
    font-size: 32px;
    line-height: 38px;
  }
  .searchingOrders__text {
    margin: 0 20px 30px 20px;
    font-size: 14px;
    line-height: 18px;
    text-align: left;
    width: calc(100% - 40px);
    max-width: none;
  }
  .searchingOrders__button {
    max-width: 100%;
    margin: 0 auto 80px 20px;
  }
  .searchingOrders__foto {
    width: calc(100% - 40px);
    margin: 0 20px 60px 20px;
  }
}
.singUp {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #CE5A57;
  padding-bottom: 50px;
}
@media (max-width: 1440px) {
  .singUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
.singUp__callToAction {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}
@media (max-width: 1440px) {
  .singUp__callToAction {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
}
.singUp__arrow {
  margin: 60px 50px 0 50px;
  padding: 0;
  width: 129px;
  height: 95px;
}
.singUp__h2 {
  margin: 50px 0 120px 0;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 120px;
  line-height: 120px;
  max-width: 70%;
  color: #FFFFFF;
}
.singUp__inputs {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
  width: 100%;
}
.singUp__input {
  margin: 0 0 86px 234px;
  padding: 0;
  padding-left: 20px;
  width: 348px;
  height: 46px;
  border: 2px solid #000000;
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
  -khtml-border-radius: 8px 0 0 8px;
  background: #FFFFFF !important;
  outline: none;
  color: #000000;
  font-family: "Roboto_regular";
  font-size: 14px;
  line-height: 24px;
}
.singUp__button {
  margin: 0 auto 0 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto_regular";
  font-size: 14px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 133%;
  grid-area: button;
  color: #000000;
  background-color: #FFFFFF;
  width: 228px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 24.5px;
  border: 2px solid #000000;
  border-radius: 0 8px 8px 0;
  border-left: none;
  height: 50px;
}
.singUp__button:hover {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
}
.singUp__button:hover {
  font-family: "Roboto_bold";
  font-size: 14px;
  line-height: 24px;
}
.singUp__since {
  margin: 0 auto 0 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 25px;
  line-height: 34px;
  color: #FFFFFF;
}
.singUp__since:last-of-type {
  margin: 20px auto 0 50px;
  padding: 0;
}

@media (max-width: 1440px) {
  .singUp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .singUp__h2 {
    max-width: 617px;
    margin: 40px auto 60px 40px;
    font-size: 100px;
    line-height: 100px;
    max-width: 70%;
  }
  .singUp__since {
    margin: 0 0 0 40px;
    align-self: flex-start;
  }
  .singUp__since:last-of-type {
    margin: 10px 0 0 40px;
    padding: 0;
  }
  .singUp__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
    justify-self: flex-start;
    margin-left: 0;
  }
  .singUp__arrow {
    display: none;
  }
  .singUp__input {
    margin: 0 0 80px 40px;
  }
}
@media (max-width: 700px) {
  .singUp {
    padding-top: 40px;
    max-width: 100%;
  }
  .singUp__h2 {
    border-top: white solid 1px;
    font-family: "Roboto_regular";
    font-size: 48px;
    line-height: 50px;
    margin: 0 20px 270px 20px;
    padding: 20px 0 0 0;
    max-width: 100%;
  }
  .singUp__since {
    margin: 0 0 0 20px;
    align-self: flex-start;
    font-family: "Roboto_regular";
    font-size: 15px;
    line-height: 24px;
  }
  .singUp__since:last-of-type {
    margin: 10px 0 0 20px;
    padding: 0;
  }
  .singUp__inputs {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    width: 100%;
  }
  .singUp__input {
    margin: 0 0 40px 20px;
    padding: 0 0 0 20px;
    min-width: 175px;
    height: 46px;
    font-family: "Roboto_regular";
    font-size: 11px;
    line-height: 24px;
  }
  .singUp__button {
    margin: 0 20px 40px 0;
    padding: 0;
    font-family: "Roboto_regular";
    font-size: 11px;
    line-height: 24px;
    height: 50px;
  }
  .singUp__button:hover {
    font-family: "Roboto_bold";
    font-size: 11px;
    line-height: 24px;
  }
}/*# sourceMappingURL=style.css.map */