.studyComposition {
  margin: 0;
  padding: 0;
  max-width: 100%;
  background-color: #FFCE00;
  display: grid;
  grid-template-areas: "blockName foto" "title foto" "text_1 foto" "text_2 foto" "button foto" "rules rules";
}
@media (max-width: 700px) {
  .studyComposition {
    padding-top: 40px;
  }
}
.studyComposition__blockName {
  margin: 50px 0 50px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  grid-area: blockName;
  color: #000000;
  text-transform: uppercase;
}
.studyComposition__title {
  margin: 0 292px 100px 50px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 64px;
  line-height: 64px;
  max-width: 400px;
  grid-area: title;
  color: #000000;
}
@media (max-width: 700px) {
  .studyComposition__title {
    max-width: 282px;
    margin: 14px auto 60px 20px;
    font-size: 30px;
    line-height: 38px;
  }
}
.studyComposition__text {
  margin: 0 0 20px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  grid-area: text_1;
  max-width: 400px;
}
.studyComposition__text_link {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
@media (max-width: 700px) {
  .studyComposition__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
}
.studyComposition__text_2 {
  margin: 0 0 198px 54px;
  padding: 0;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  color: #000000;
  grid-area: text_2;
  max-width: 400px;
}
.studyComposition__button {
  margin: 0 0 0 50px;
  padding: 0;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  line-height: 133%;
  grid-area: button;
  color: #000000;
  background-color: #FFFFFF;
  width: 228px;
  height: 49px;
  border: 1px solid #000000;
  border-radius: 24.5px;
  grid-area: button;
}
.studyComposition__button:hover {
  font-family: "Roboto_bold";
  font-size: 18px;
  line-height: 28px;
}
.studyComposition__foto {
  margin: 50px 50px 50px 0;
  padding: 0;
  grid-area: foto;
}
.studyComposition__rules {
  margin: 100px 54px 50px 54px;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  align-content: center;
  grid-area: rules;
}
.studyComposition__compositionRule {
  margin: 0;
  padding: 0;
  width: 291px;
  font-family: "Roboto_regular";
  font-size: 18px;
  line-height: 28px;
  list-style: none;
  list-style-type: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  cursor: none;
}

@media (max-width: 1440px) {
  .studyComposition {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
  }
  .studyComposition__blockName {
    margin: 40px auto 40px 44px;
    max-width: calc(100% - 40px);
    border-top: 1px solid #000000;
    padding-top: 20px;
  }
  .studyComposition__title {
    max-width: 617px;
    margin: 40px auto 60px 40px;
  }
  .studyComposition__text {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .studyComposition__text_2 {
    max-width: 469px;
    margin: 0 auto 60px 44px;
  }
  .studyComposition__button {
    max-width: 100%;
    margin: 0 auto 40px 40px;
  }
  .studyComposition__foto {
    width: calc(100% - 80px);
    margin: 0 40px 60px 40px;
  }
  .studyComposition__rules {
    width: 100%;
    margin: 0 40px 40px 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  }
  .studyComposition__compositionRule {
    width: calc(100% - 80px);
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: #000000 solid 1px;
  }
  .studyComposition__compositionRule:last-of-type {
    padding-bottom: 40px;
    border-bottom: none;
  }
}/*# sourceMappingURL=studyComposition.css.map */